<div class="text-center">
</div>
<body class="d-flex h-100 text-md-center   text-white bg-primary">
    <div class="field field-name-field-slice-columns field-type-text-long field-label-hidden has-2-cols">
      <div class="display-3 fst-italic"><h1 class="larger" style="line-height: 1.2; margin-top: 200px;">PowerSchool Is </h1>
        <h1 class="larger" style="line-height: 1.5; margin-top: 5px;">Here to Help </h1>
        <p class="display-6 font-size">PowerSchool is doing everything we can to make it easy for districts to get up and running with distance learning. <br>
        <p><a class="btn btn-outline-light me-2" href="app-routing.module.ts" height="50" >Learn more</a></p>
    
      </div>
    
    </div>
<div>
    <img  src="../../../assets/schoology-learning-management-system.jpg" alt="" width="800" height="500">
  
  </div>
