<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <img src="..\..\..\assets\logo-schoology.jpg" alt="" width="200" height="100" class="d-inline-block align-text-top">
      <a class="nav-link active" routerLinkActive="active" [routerLink]="['home']">h</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Tour
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Connect</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">About</a>
          </li>
            <li class="nav-item">
            <a class="nav-link active" routerLinkActive="active" [routerLink]="['Nomina']">Nomina</a>
          </li>
  
        </ul>
          <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" [routerLink]="['login']">LOG IN

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" [routerLink]="['register']">SIGN IN
          </a>
        </li>
        <button type="button" class="btn btn-warning">REQUEST A DEMO</button>
          </ul>
          
          </div>
      </div>
      
  </nav>
  

  