<div class="text-md-center">
   <h1>Sign up for Schoology</h1>
   <button type="button" class="btn btn-primary" href="home.component.html">Back</button>
    <div class="form-floating mb-3">
      <input type="Code" class="form-control" id="floatingInput" placeholder="123456">
      <label for="floatingInput">Access Code</label>
    </div>
    <a class="dropdown-item">Enter the access code provided by your instructor</a>
    <button type="button" class="btn btn-primary" href="curso">Continue</button>
  </div>
