<div class="text-center">
    <h1>Sign in to Schoology</h1>

    <h1>Email Adress</h1>

          <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
          <h1>Password</h1>
          <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
              Remember me </label>
<h1></h1>

        <button type="button" class="btn btn-primary" href="curso">Log in</button>
        <a class="dropdown-item" href="curso" >New around here? Sign up</a>
        <a class="dropdown-item" href="ForgotPassword">Forgot password?</a>

        <div class="text-center">
            <img src="../../../assets/websiteQRCode_noFrame.png" class="rounded" alt="10" width="60" height="60">
            <button type="submit" class="btn btn-primary">Scan QR Code</button>
          </div>
</div>